body{
    background-image: url('/images/background.png');
    font:Helvetica;

}

.carousel-class{
    position: relative;
}
.row-height{
height: 100%;
    width: 100%;
}

.column{
    margin-top: 20px;
    margin-bottom: 20px;


}

.column-height{
    height:250px;
    margin-bottom: 0;
    margin-top: 0;
}

.image-container{
    height:150px;
    width:340px;
}

.organization-links{
    display: inline;
}
.carousel-indicators li{
    visibility: hidden;
}
.navbar{
    background-color: white;
    padding-bottom: 0;
    color: darkblue;
    font: Helvetica;
}

.container-header{
    background-color: white;
    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper{
    padding-top: -30px;
}

.search-input{
    height: 100%;
    position: relative;
    width: 100%;
}
.links-column{
    padding-top: 5px;
    margin-top: 5px;
}

.organization-tabs {
    color: dodgerblue;
    padding-top: 5px;
    margin-top: 5px;

}
.organization-tabs.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-tab{
    padding-top: 0px;
}

.footer{
    padding-bottom: 0px;
}

.container{
    padding-top: 60px;
    padding-bottom: 20px;
}
.row{
    padding-bottom: 10px;
    padding-top: 10px;
}

.basic-content-container{
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;

}

.avatar-container{
    height: 65px;
    width: 65px;
}
.tagline{
    display: inline-block;
}

.organizational-details{
    font-weight: 600;
    color: #0f0f0f;
    font-size: 15px;
}