body{
    /*background-image: url('/images/background.png');*/
    font-family: 'Montserrat', serif;
    font-size: 12px;
    line-height: 2em;
    background-color: #ebebd9;
    height: auto !important;
    /*overflow-y: hidden;*/
}

.image-container a{
  color:#000;
}
p{
      margin: 0 0 1.4em;
}
.register{
  padding-top: 40px;
}
/*slider css*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*end of slider css*/

.carousel-class{
    position: relative;
}
.row-height{
height: 100%;
    width: 100%;
}

.column{
    margin-top: 20px;
    margin-bottom: 20px;
  }

.column-height{
    height:230px;
    margin-top: 0;
    background-color: beige;
    padding-bottom: 5px;

}
.image-container img{
  height: 100%;
  width: 100%;
}

.image-container{
  position: relative;
    height:150px;
    padding: 15px;
    display: block;
}
.image-container h4{
  background-color: beige;
  position: absolute;
  bottom: 5px;
  padding-bottom: 0px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 600;
}
.image-container a{
  color: #000;
}
.column-height p{
  font-size: 15px;
  font-weight: 300;
  padding-left: 15px;

}
.text-muted a{
  color:gray;
  padding: 5px;
}
.carousel-indicators li{
    visibility: hidden;
}
.navbar{
    background-color: white;
    padding-bottom: 0;
    color: darkblue;
    font: Helvetica;
    font-size: 12px;
    text-transform: uppercase;
}

.container-header{
    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper{
    padding-top: -30px;
}

.search-input{
    height: 100%;
    position: relative;
    width: 100%;
}
.links-column{
    padding-top: 5px;
    margin-top: 5px;
}

.organization-tabs {
    padding-top: 5px;
    margin-top: 5px;

}
.organization-tabs.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container{
    height: 40px;
    width: 100px;
}

.basic-content-container{
    line-height: 170%;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;

}
.basic-content-container table{
    border-top: 0px !important;
    height: 30px;
}
.basic-content-container tr{
    line-height: 5px;
}

.container{
    padding-top: 60px;
    padding-bottom: 0px !important;
    min-height: 72%;
}
.donate-tab{
    padding-top: 0px;
}

.footer{
    background-color: #000;
    height: 170px;
    position: absolute;
    width: 100%;
    padding-bottom: 0px !important;

}

.footer-links{
    width: 49.525%;
    float: right;
    text-align: right;
}

.footer-text{
    width: 40.677%;
    float: left;
    color: #888;
    margin-bottom: 5px;
}

footer ul li{
  list-style-type: none;
  display: inline;
}

.header-div a{
  display: block;
  padding: 0;
}

#map{
  height: 200px;
  width: 100%;
  padding-bottom: 5px;
}

.inner-avatar{
    max-width: 100%;
    max-height: 100%;
}
label{
  display: block;
  padding-bottom: 0;
  vertical-align: baseline;

  border-radius: 0;
  clear: both;
}

.login-container{
    padding-top: 40px;
}

.meta{
  font-size: 85%;
  margin: 0;
}
.meta a{
  font-weight: 100;
}

.organizational-container{
    padding-top: 60px;
}

.organizational-details{
    font-weight: 600;
    color: #0f0f0f;
    font-size: 15px;
}


.show-more-button{
  color: #000;
  background-color: #d2d2c6;
  width: 100%;
  float: left;
  border-color: 1px solid;
}

.tagline{
    display: inline-block;
}

ul li{
    padding: 5px;
}
